.cart{
    width:20em;
}
.cart-style{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.common{
    font-weight: bold;
}

.green{
    color: green;
}

.more-green{
    color: rgb(197, 251, 90);
}